		</div>


<footer class="footer container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-5 col-xs-12">
            <a href="https://smalldata.industries">
                <img src="/assets/img/small-data-logo-on-blue.png" class="footer-logo logo img-fluid">
            </a>
           
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <ul class="list-unstyled text-small">
            <li>SMALL DATA INDUSTRIES © 2020</li>
              <li>info@smalldata.industries</li>
              <li>(347) 862-9226</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled text-small">
              <li>68 35th</li>
              <li>Suite C651</li>
              <li>Brooklyn, NY 11218</li>
            </ul>
          </div>
        <div class="col-md-4">
            <h5>Further Reading</h5>
            <ul class="list-unstyled text-small">
              <li><a href="https://smalldata.industries/blog/2019/2/28/measuring-organizational-change">Measuring Organizational Change</a></li>
              <li><a href="https://smalldata.industries/blog/2019/4/25/three-essential-steps-in-preserving-an-artists-legacy">Three Steps in Preserving an Artist's Legacy</a></li>
              <li><a href="https://smalldata.industries/blog/2019/9/20/three-ways-small-data-is-expanding-the-landscape-of-artist-first-support-models">Support for Artists</a></li>

            </ul>
          </div>
        </div>
      </footer>


        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-92578824-1','auto');ga('send','pageview')
        </script>

        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/assets/js/isotope.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script src="/assets/js/filter.js"></script>

    </body>
</html>