		</div>


<footer class="footer container-fluid">
        <div class="row">
          <div class="col-3">
            <a href="https://smalldata.industries">
                <img src="/assets/img/small-data-logo-on-blue.png" class="logo img-fluid">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-md">
            ©2020
          </div>
          <div class="col-8 col-md">
            <h5>Blog</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://smalldata.industries/blog/2019/2/28/measuring-organizational-change">Measuring Change</a></li>
              <li><a class="text-muted" href="#">Three Steps in Preserving an Artist's Legacy</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-4 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">info@smalldata.industries</a></li>
              <li><a class="text-muted" href="#">(347) 862-9226</a></li>
            </ul>
          </div>
          <div class="col-4 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">68 35th</a></li>
              <li><a class="text-muted" href="#">Suite C651</a></li>
              <li><a class="text-muted" href="#">Brooklyn, NY 11218</a></li>
            </ul>
          </div>
        </div>
      </footer>


        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-92578824-1','auto');ga('send','pageview')
        </script>

        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/assets/js/isotope.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
        <script src="/assets/js/filter.js"></script>

    </body>
</html>