body{
	background-color: #f1e7e5;
	font-family: 'Roboto Mono', monospace;
	color: #21254f;
	margin:35px 15px 35px;
}

.logo{
	height: 75px;
	margin-bottom: 19px;
}

 h1{
	font-weight: 100;
}

.card{
	margin:.8em;
}

.card-container{
	margin-left: -.8em;
	margin-right: -.8em;
}