<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Small Data – Open Resources</title>
       <meta name="description" content="Free resources, tools, and research created by the team at Small Data in our work to safeguard the permenance and integrity of the world's artistic record.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <meta name="description" content="Free resources, tools, and research created by the team at Small Data in our work to safeguard the permenance and integrity of the world's artistic record.">
  <meta name="author" content="Small Data Industries">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://opensource.smalldata.industries/">
<meta name="twitter:site" content="small_data_">
<meta property="twitter:title" content="Small Data – Open Resources">
<meta name="twitter:description" content="Free resources, tools, and research created by the team at Small Data in our work to safeguard the permenance and integrity of the world's artistic record.">
<meta name="twitter:image" content="https://opensource.smalldata.industries/assets/img/small-data-team.jpg">

<meta property="og:url" content="https://opensource.smalldata.industries/">
<meta property="og:type" content="website">
<meta property="og:title" content="Small Data – Open Resources">
<meta property="og:description" content="Free resources, tools, and research created by the team at Small Data in our work to safeguard the permenance and integrity of the world's artistic record.">
<meta property="og:image" content="https://opensource.smalldata.industries/assets/img/small-data-team.jpg">

  

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


        <link rel="stylesheet" href="/assets/css/style.css"> 




        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

    <div class="container-fluid">
{% include header.html %}



<div class="button-group filter-button-group btn-group-sm">
  <button type="button" class="btn btn-secondary" data-filter="*">show all</button>
  <button type="button" class="btn btn-secondary" data-filter=".research">research</button>
  <button type="button" class="btn btn-secondary" data-filter=".reference">reference</button>
  <button type="button" class="btn btn-secondary" data-filter=".how-to">how-to</button>
  <button type="button" class="btn btn-secondary" data-filter=".learning">learning</button>
</div>


<div class="grid">

<div class="grid-sizer col-xs-6 col-sm-6 col-md-4"></div>

    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
    	<a href="how-digital-storage-works/">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/how-digital-storage-works.jpg">
      	<h5 >How Digital Storage Works</h5>
	    <p>Category: reference</p>
      </div>
      </a>
    </div>

    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
      <a href="total-cost-of-ownership/">
      <div class="grid-item-content">
        <img class="img-fluid" src="/assets/img/TCO.jpg">
        <h5 >What is TCO?</h5>
      <p>Category: reference</p>
      </div>
      </a>
    </div>

    <div class="grid-item research col-xs-6 col-sm-6 col-md-4">
    	    	<a href="research/gif">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/research/gif/img/underconstruction-momi.jpg">
      	<h5>Preserving Animated GIFs</h5>
	    <p>Category: research</p>
      </div>
      </a>
    </div>


    <div class="grid-item research col-xs-6 col-sm-6 col-md-4">
    	<a href="research/designing-the-future">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/research/designing-the-future/img/grid.jpg">
      	<h5 >Designing the Future of Design</h5>
	    <p>Category: research</p>
      </div>
  </a>
    </div>


    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
    	<a href="templates/artwork-inventory-checklist.html">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/checklist.jpg">
      	<h5>Artwork Inventory Checklist</h5>
	    <p>Category: reference</p>
      </div>
  </a>
    </div>



    <div class="grid-item how-to col-xs-6 col-sm-6 col-md-4">
    	<a href="/how-to-make-a-checksum-in-macos">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/mac-checksum.png">
      	<h5>How To Make a Checksum in macOS</h5>
	    <p>Category: how-to</p>
      </div>
      </a>
    </div>

    <div class="grid-item how-to col-xs-6 col-sm-6 col-md-4">
<a href="/how-to-make-a-checksum-in-windows">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/windows-checksum.png">
      	<h5>How To Make a Checksum in Windows</h5>
	    <p>Category: how-to</p>
      </div>
      </a>
    </div>


    <div class="grid-item learning col-xs-6 col-sm-6 col-md-4">
<a href="https://youtu.be/3u2IYmjbzRo">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/disk-imaging.png">
      	<h5>Getting Started With Disk Imaging</h5>
	    <p>Category: learning</p>
      </div>
      </a>
    </div>

    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
<a href="/obsolete-media-field-guide">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/obsolete-media.jpg">
      	<h5>Obsolete Media Field Guide</h5>
	    <p>Category: reference</p>
      </div>
      </a>
    </div>

    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
      <a href="time-based-media-glossary/">
      <div class="grid-item-content">
        <img class="img-fluid" src="/assets/img/projector.jpg">
        <h5 >Time-Based Media Glossary</h5>
      <p>Category: reference</p>
      </div>
      </a>
    </div>


</div>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Just getting started?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You’ll probably love the education and coaching platform we’re building to make our expertise more accessible and affordable.</p>
      </div>
      <div class="modal-footer">
        <a href="https://archiveacademy.io" class="btn btn-primary" role="button" target="none"> Learn more</a>
        <!-- <button type="button" ></button> -->
      </div>
    </div>
  </div>
</div> -->

{% include footer.html %}

{% include html-close.html %}
