{% include html-open.html %}

{% include header.html %}



<div class="button-group filter-button-group btn-group-sm">
  <button type="button" class="btn btn-secondary" data-filter="*">show all</button>
  <button type="button" class="btn btn-secondary" data-filter=".research">research</button>
  <button type="button" class="btn btn-secondary" data-filter=".reference">reference</button>
  <button type="button" class="btn btn-secondary" data-filter=".how-to">how-to</button>
  <button type="button" class="btn btn-secondary" data-filter=".learning">learning</button>
</div>

<div class="grid">

<div class="grid-sizer col-xs-6 col-sm-6 col-md-4"></div>

    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
    	<a href="time-based-media-glossary/">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/projector.jpg">
      	<h5 >Time-Based Media Glossary</h5>
	    <p>Category: reference</p>
      </div>
      </a>
    </div>

    <div class="grid-item research col-xs-6 col-sm-6 col-md-4">
    	    	<a href="research/gif">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/research/gif/img/underconstruction-momi.jpg">
      	<h5>Preserving Animated GIFs</h5>
	    <p>Category: research</p>
      </div>
      </a>
    </div>


    <div class="grid-item research col-xs-6 col-sm-6 col-md-4">
    	<a href="research/designing-the-future">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/research/designing-the-future/img/grid.jpg">
      	<h5 >Designing the Future of Design</h5>
	    <p>Category: research</p>
      </div>
  </a>
    </div>


    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
    	<a href="templates/artwork-inventory-checklist.html">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/checklist.jpg">
      	<h5>Artwork Inventory Checklist</h5>
	    <p>Category: reference</p>
      </div>
  </a>
    </div>



    <div class="grid-item how-to col-xs-6 col-sm-6 col-md-4">
    	<a href="/how-to-make-a-checksum-in-macos">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/mac-checksum.png">
      	<h5>How To Make a Checksum in macOS</h5>
	    <p>Category: how-to</p>
      </div>
      </a>
    </div>

    <div class="grid-item how-to col-xs-6 col-sm-6 col-md-4">
<a href="/how-to-make-a-checksum-in-windows">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/windows-checksum.png">
      	<h5>How To Make a Checksum in Windows</h5>
	    <p>Category: how-to</p>
      </div>
      </a>
    </div>


    <div class="grid-item learning col-xs-6 col-sm-6 col-md-4">
<a href="https://youtu.be/3u2IYmjbzRo">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/disk-imaging.png">
      	<h5>Getting Started With Disk Imaging</h5>
	    <p>Category: learning</p>
      </div>
      </a>
    </div>

    <div class="grid-item reference col-xs-6 col-sm-6 col-md-4">
<a href="/obsolete-media-field-guide">
      <div class="grid-item-content">
      	<img class="img-fluid" src="/assets/img/obsolete-media.jpg">
      	<h5>Obsolete Media Field Guide</h5>
	    <p>Category: reference</p>
      </div>
      </a>
    </div>



</div>


{% include footer.html %}

{% include html-close.html %}
